<section id="footer">
    <div class="footer-content">
        <div class="social-links">
            <em>{{ page.header.socialsname}}</em> <span>{{ page.header.socialstext}}</span> 
            <div class="social-buttons">
                {% for feature in page.header.features %}
                <a href="{{ feature.url }}" class="{{ feature.text|lower }}" style="background-image:url({{ url("theme://assets/img/" ~ feature.icon|first.name) }});background-size:cover">{{ feature.text }}</a>
                {% endfor %}
            </div>
        </div>
        <h4 class="tagline">{{ content|raw }}</h4>
    </div>
</section>