<section id="overmij">
    <div class="aboutme-content">
    <h2>{{ page.header.heading }} <span>{{ page.header.name }}</span></h2>
    <h1>{{ page.header.subheading }}</h1>

    <div class="row">
        <div class="col4 col3-xl col12-xs">
            <figure class="avatar" style="background-image:url({{ url("theme://assets/img/" ~ page.header.avatar|first.name) }});" />
                <span class="avatar-title">{{ page.header.name }}</span>
            </figure>
        </div>
        <div class="col8 col12-xs">
            <div class="aboutme-text">
                
                {{ content|markdown }}
                
            </div>
            <div class="row">
                <div class="col12 tagline">
                    {{ page.header.tagline|markdown }}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>