<section id="reviews">
    <h3>Reviews</h3>
    <h4>Lieve mensen over mij</h4>
    {% for feature in page.header.features %}
    <div class="row">
        <div class="col3 col12-xs">
            <figure class="avatar" style="background-image:url({{ url("theme://assets/img/" ~ feature.picture|first.name) }});" />
                <span class="avatar-title">{{ feature.firstname }}</span>
            </figure>
        </div>
        <div class="col6 col9-sm col12-xs">
            <h5>{{ feature.firstname }} {{ feature.lastname }} <em>{{ feature.jobtitle }}</em></h5>
            <p>
                {{ feature.text|raw }}
            </p>
        </div>
    </div>
    {% endfor %}
</section>